.component{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.myFont{
    font-family: 'SequelSans';
}

.component .title-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}

.component .title-cont .title{
    font-family: SequelSans;
    font-size: x-large;
    font-weight: bold;
}

.component .description-cont{
     width: 100%;
     display: flex;
     justify-content: center;
}

.component .description-cont .description{
    font-family: SequelSans;
    font-size: medium;
    text-align: center;
}

.component .input-cont{
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

.component .input-cont .input{
    width: 290px;
    height: 50px;
    outline: none;
    border: 0;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 40px;
    background-color: var(--color-orange);
    font-family: SequelSans;
}

.component .separator-line{
    width: 100%;
    height: 1px;
    background-color: #48436b;
}

.component .input-cont .icon{
    font-size: x-large;
    right: 40px;
    top: 10px;
    position: relative;
    cursor: pointer;
}

.component .acordion-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}

.component .acordion-cont .acordion {
    display: flex;
    gap: 10px;
}

.component .acordion-cont .acordion .acordion-header{
    font-size: large;
    font-weight: bold;
    color: #48436b;
}

.component .acordion-cont .acordion .acordion-text{
    padding-top: 5px;
    font-size: 15px;
    font-weight: normal;
  }

@media (min-width: 600px) {
    .component .title-cont .title{
        font-size: 30px;
    }

    .component .description-cont .description{
        font-size: 26px;
    }

    .component .input-cont .input{
        width: 380px;
    }
}