*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 :root{
    --color-beige:    #FEF9EC;
    --color-sky:      #C0DEFC;
    --color-sky-dark: #687f9e;
    --color-night:    #010326;
    --color-gray:     #F1F4F7;
    --color-orange:   #FFD48F;
 }
 
 @font-face {
    font-family: "SequelSans";
    src: url('./assets/fonts/Sequel_Sans_Light_Disp.otf') format("opentype");
    font-weight: 300;
 }
 
 @font-face {
    font-family: "SequelSans";
    src: url('./assets/fonts/Sequel_Sans_Semi_Bold_Disp.otf') format("opentype");
    font-weight: 600;
 }
 
 @font-face {
    font-family: "SequelSans";
    src: url('./assets/fonts/Sequel_Sans_Medium_Disp.otf') format("opentype");
    font-weight: 500;
 }
 
 @font-face {
    font-family: "SequelSans";
    src: url('./assets/fonts/Sequel_Sans_Book_Disp.otf') format("opentype");
    font-weight: 400;
 }
 
 @font-face {
    font-family: "SequelSans";
    src: url('./assets/fonts/Sequel_Sans_Bold_Disp.otf') format("opentype");
    font-weight: 700;
 }